<a href="https://colab.research.google.com/github/nataliaram/NBA_player_heights/blob/main/NBA_player_heights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Prueba.**

Imprimir todas las parejas de jugadores
cuyas alturas en pulgadas (in), al ser sumadas, corresponden al número de entrada.
Si no se encuentran coincidencias, la aplicación imprime "No se encontraron coincidencias"

Ejemplo de salida de la siguiente manera:
```
> app 139

- Brevin Knight         Nate Robinson
- Nate Robinson         Mike Wilks
```

El algoritmo para encontrar los pares debe ser más rápido que O(n^2). Debe
funcionar correctamente en todos los casos de borde. Esta _no_ es una prueba a
libro cerrado. Lo invitamos a contactarnos con cualquier duda que tenga.

In [1]:
import pandas as pd

from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
from ipywidgets import FloatSlider

import plotly.graph_objects as go
from ipywidgets import widgets

import numpy as np

In [4]:
df = pd.read_csv (r'/content/drive/MyDrive/Colab Notebooks/nba_heights.csv')
df.head(10)

   last_name first_name  h_meters  h_in
0      Acker       Alex      1.96    77
1      Adams     Hassan      1.93    76
2    Afflalo      Arron      1.96    77
3       Ager    Maurice      1.96    77
4     Ajinca     Alexis      2.13    84
5   Aldridge   LaMarcus      2.11    83
6  Alexander        Joe      2.03    80
7      Allen      Malik      2.08    82
8      Allen        Ray      1.96    77
9      Allen       Tony      1.93    76

El siguiente código es para crear una columna llamada nombre completo es $O(n)$

In [5]:
nombre_completo=[]
nombre=list(df['first_name'])
apellido=list(df['last_name'])
for i in range(len(nombre)):
  nombre_completo.append(str(nombre[i])+' '+str(apellido[i]))

df['nombre completo']=nombre_completo
df.head(5)

  last_name first_name  h_meters  h_in nombre completo
0     Acker       Alex      1.96    77      Alex Acker
1     Adams     Hassan      1.93    76    Hassan Adams
2   Afflalo      Arron      1.96    77   Arron Afflalo
3      Ager    Maurice      1.96    77    Maurice Ager
4    Ajinca     Alexis      2.13    84   Alexis Ajinca

**Primer desarrollo.**

In [6]:
def app3(vector, nombres,sum):
  requeridos=dict()
  conteo=0
  for i in range(0,len(vector)):
    faltante=sum-vector[i]
    if requeridos.__contains__(faltante):
      for j in requeridos.get(faltante):
        print("(", nombres[i],
              ", ",nombres[j],
              ")", sep="")
      conteo+=1
    #requeridos[vector[i]]={i}
    requeridos.update({vector[i]:{i}.union(requeridos.get(vector[i])) if requeridos.get(vector[i]) else {i}})
  if conteo==0:
    print("No se encontraron coincidencias")

In [8]:
vector=list(df['h_in'])
nombres=list(df['nombre completo'])
# Modificar el valor de entrada numérico (Suma total de la altura de los dos jugadores)
app3(vector, nombres, 139)

(Nate Robinson, Brevin Knight)
(Mike Wilks, Nate Robinson)

**Segundo desarrollo.**

In [9]:
def app4(sum):
  vector1=[]
  vector2=[]
  faltante=sum-np.array(df['h_in'])
  nombres=np.array(df['nombre completo'])
  for i in range(len(vector)):
    if faltante[i] in vector:
      nombres1=df['nombre completo'][df['h_in']==faltante[i]]
      vector1.extend(nombres1)
      vector2.extend([nombres[i]]*len(nombres1))
  parejas=[(nombre1, nombre2) for nombre1,nombre2 in zip(vector1,vector2) if nombre1!=nombre2]
  for nombre1,nombre2 in parejas:
    if (nombre2,nombre1) in parejas:
      parejas.remove((nombre1,nombre2))
  return parejas

In [11]:
# Mover el deslizador hasta el valor deseado (Suma total de la altura de los dos jugadores) y dar click en el botón Run Interact
interact_manual(app4,sum=FloatSlider(min=0, max=250, step=1))

interactive(children=(FloatSlider(value=0.0, description='sum', max=250.0, step=1.0), Button(description='Run …